* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

main::after {
  content: "";
  display: table;
  clear: both;
}

#sidebar {
  width: 300px;
  height: calc(100% - 100px);
  background-color: black;
  float: left;
  position: relative;
}

#sidebar p,
#sidebar img,
#sidebar li {
  color: #565656;
}
.sidebar-head {
  min-height: 500px;
  height: calc(100% - 80px);
}
.sidebar-logo {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
}

.sidebar-logo img:nth-child(2) {
  display: none;
}

.sidebar-logo img {
  width: 150px;
  margin-left: 20px;
}

.sidebar-menu img {
  width: 30px;
  vertical-align: middle;
  margin-left: 20px;
}

.sidebar-menu p {
  color: white;
  display: inline-block;
}

.home,
.search,
.libreria {
  line-height: 40px;
}

.home {
  border-left: 2px solid #ADFF2F;
}

.sidebar-playlist {
  margin-top: 20px;
  margin-left: 20px;
}

.sidebar-playlist h3 {
  color: white;
  text-transform: uppercase;
}

.sidebar-playlist p {
  color: white;
  display: inline-block;
  margin-left: 5px;
}

.plus {
  position: relative;
  display: inline-block;
  background-color: #565656;
  width: 40px;
  height: 40px;
  margin-top: 10px;
}

.plus i {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.playlist-list {
  overflow-y: auto;
  height: 30%;
}

.playlist-list ul {
  color: white;
  list-style: none;
  margin-top: 10px;
  margin-left: 20px;
}

.playlist-list li {
  margin-top: 10px;
}

.sidebar-bottom {
  height: 80px;
  margin-left: 20px;
}

.sidebar-bottom img {
  display: inline;
  width: 20px;
  vertical-align: middle;
}

.sidebar-bottom p {
  display: inline-block;
  vertical-align: middle;
}

.sidebar-bottom hr {
  margin: 10px 0px;
  width: 250px;
}

.sidebar-bottom h3 {
  display: inline-block;
  color: white;
}
.sidebar-bottom .profile {

}
.sidebar-bottom .profile img {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

.profile-img {
  display: inline-block;
  background-color: gray;
  border-radius: 50px;
  overflow: hidden;
  vertical-align: middle;
}
#scrolling-content {
  width: calc(100% - 300px);
  height: calc(100% - 100px);
  background-color: #141922;
  overflow: scroll;
  overflow-x: hidden;
  float: right;
}

.overlay {
  width: 200px;
  height: 200px;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 20px;
  display: none;
}

.overlay i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
}

.img1:hover .overlay,
.img2:hover .overlay,
.img3:hover .overlay,
.img4:hover .overlay,
.img5:hover .overlay,
.img6:hover .overlay,
.img7:hover .overlay,
.img8:hover .overlay,
.img9:hover .overlay,
.img10:hover .overlay {
  display: inline;
  color: white;
}

.upgrade {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 300px);
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
}

.upgrade button {
  width: 200px;
  height: 40px;
  color: white;
  text-transform: uppercase;
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid white;
  margin-right: 20px;
}

.navigation {
  margin-top: 100px;
  text-align: center;
}

.navigation h4 {
  text-transform: uppercase;
  display: inline-block;
  margin: 0px 10px;
  position: relative;
}

.navigation h4:first-child::before {
  content : "";
  position: absolute;
  left    : 50%;
  transform: translate(-50%);
  bottom: -10%;
  width   : 50%;
  border-bottom: 2px solid #ADFF2F;
}

.navigation a {
  text-decoration: none;
  color: gray;
}

.recently-played,
.created-for,
.recent-artists {
  margin-top: 40px;
}

.recently-played h1,
.created-for h1,
.recent-artists h1 {
  color: white;
  margin-left: 10px;
}

.created-for p,
.recent-artists p {
  margin-left: 10px;
  color: gray;
}

.img1 h3,
.img2 h3,
.img3 h3,
.img4 h3,
.img5 h3,
.img6 h3,
/* recently played */
.img7 h3,
.img8 h3,
/* artisti piu popolari */
.img9 h3,
.img10 h3,
.bottom-left-box h4 {
  color: white;
}

.img1 p,
.img2 p,
.img3 p,
.img4 p,
.img5 p,
.img6 p,
.bottom-left-box p {
  color: gray;
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6,
/* recently played */
.img7,
.img8,
/* artisti piu popolari */
.img9,
.img10 {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  width: 200px;
  position: relative;
}
.recently-played img,
.created-for img,
.recent-artists img {
  width: 200px;
  margin-top: 20px;
}

.img9 img,
.img10 img {
  border-radius: 100px;
}

.img9,
.img10 {
  text-align: center;
}

#music-player {
  width: 100vw;
  height: 100px;
  position: fixed;
  background-color: #282828;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.now-playing {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.now-playing h4 {
  font-size: 14px;
}

.now-playing p {
  font-size: 10px;
}

.now-playing img {
  width: 60px;
}

.bottom-left-box {
  display: inline-block;
  margin-left: 10px;
}

.fa-heart-o,
.fa-folder-o {
  color: gray;
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
}

.bottom-section p {
  color: gray;
  display: inline-block;
  font-size: 10px;
}

.bottom-section span:first-of-type {
   display: inline-block;
   width: 300px;
   border-top: 5px solid #5A5A5A;
   border-radius: 50px;
   vertical-align: middle;
   position: absolute;
   left: 0;
}

.span {
  width: 300px;
  display: inline-block;
  height: 5px;
  position: relative;
  vertical-align: middle;
}

.bottom-section span:last-of-type {
  display: inline-block;
  width: 150px;
  border-top: 5px solid white;
  border-radius: 50px;
  vertical-align: middle;
  position: absolute;
  left: 0;
}
.upper-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.player i {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.controls span:first-of-type {
  display: inline-block;
  width: 150px;
  border-top: 5px solid gray;
  border-radius: 50px;
  vertical-align: middle;
  position: absolute;
  left: 0;
}

.controls .span {
  width: 150px;
}

.controls span:last-of-type {
  display: inline-block;
  width: 100px;
  border-top: 5px solid white;
  border-radius: 50px;
  vertical-align: middle;
  position: absolute;
  left: 0;
}

.controls {
  color: white;
}

.controls i {
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 485px) {
  #sidebar {
    width: 50px;
  }
  .sidebar-playlist,
  .playlist-list {
    display: none;
  }
  #scrolling-content,
  .upgrade {
    width: calc(100% - 50px);
  }
  .sidebar-menu p,
  .sidebar-bottom p,
  .sidebar-bottom h3,
  .sidebar-bottom hr {
    display: none;
  }
  .sidebar-menu img,
  .sidebar-bottom,
  .sidebar-logo img {
    margin-left: 10px;
  }
  .sidebar-logo img:first-child {
    display: none;
  }
  .sidebar-logo img:nth-child(2) {
    display: block;
    width: 30px;
  }
  .navigation h4 {
    margin-top: 20px;
  }
  .navigation {
    margin-top: 80px;
  }
  .home {
    border-left: none;
  }
  .home img {
    color: lightgray;
  }
  .download img {
    margin-bottom: 10px;
    margin-left: 3px;
  }
  .bottom-section span:first-of-type {
     display: inline-block;
     width: 100%;
     border-top: 5px solid #5A5A5A;
     border-radius: 50px;
     vertical-align: middle;
     position: absolute;
     left: 0;
  }

  .now-playing {
    width: 150px;
  }

  .span {
    width: 70%;
    display: inline-block;
    height: 5px;
    position: relative;
    vertical-align: middle;
  }

  .bottom-section span:last-of-type {
    display: inline-block;
    width: 70%;
    border-top: 5px solid white;
    border-radius: 50px;
    vertical-align: middle;
    position: absolute;
    left: 0;
  }
  .controls span:first-of-type {
    display: inline-block;
    width: 100%;
    border-top: 5px solid gray;
    border-radius: 50px;
    vertical-align: middle;
    position: absolute;
    left: 0;
  }

  .controls .span {
    width: 100%;
  }

  .controls span:last-of-type {
    display: inline-block;
    width: 70%;
    border-top: 5px solid white;
    border-radius: 50px;
    vertical-align: middle;
    position: absolute;
    left: 0;
  }
  .controls i {
    margin-left: 2px;
    margin-right: 2px;
  }
}
